<!doctype html>
<head>
<title>openweathermap analysis</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% block scrip %}{% endblock %}

</head>
<div class="container">
  <div class="row">
      <div class="pull-right">
        <h2>Weather app</h2>
      </div>
  </div>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}

</div>
